/* GLOBAL CSS | INNOCENT MISHECK - GWSC 2023 */

div.gallery {
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
  }
  
  div.gallery:hover {
    border: 2px solid #777;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  div.gallery img:hover {
    cursor: pointer;
  }
  
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


a{
    font-size: 15px;
}
 section{
    padding:100px 200px;
 }

 .home{
    position:relative;  
    width:100%;
    display:flex;
    justify-content: center;
    flex-direction: column;   
 }

 .home .content{ 
    z-index: 1;
    color: #F0F0F0;
    width: 70%;
    display: none;
    /* margin-top: 50px; */
 }

 .home .content.active{
    display: block;
 }

 .home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    /* margin-bottom: 40px; */
    font-weight: 900;
}

.home .content .h1 span{
    font-size:1.2em;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: #fff;
    padding: 15px 35px;
    color: #2185D0;
    font-size:1.1em;
    font-weight:bolder;
    text-decoration: 2px;
}

.home .media-icons{
    z-index: 2;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.home .media-icons a{
    color:#F0F0F0;
    font-size: 1.6em;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}
.home .media-icons a:hover{
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}



.sub-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .sub-dropdown:hover .sub-dropdown-content {
  top: 100%;
  left: 0;
}

  .sub-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding: 5%;
    top: 0;
    left: 100%;
}
  

  .sub-dropdown:hover .sub-dropdown-content {
    display: block;
    top: 0;
    left: 100%;
  }
  
  .sub-dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .sub-dropdown-item:hover {
    background-color: #f1f1f1;
  }



.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown:hover .dropdown-content {
  top: 100%;
  left: 0;

}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    padding: 5%;
}
  

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-item {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: black;
  }
  
  .dropdown-item:hover {
    background-color: #f1f1f1;
  }




/* Additional styles for message colors */
.g-recaptcha{
    margin-top: 1%;
}
* {
    padding: 0;
    margin: 0;
}

.message {
    margin-top: 10px;
    font-weight: bold;
}

.error {
    color: darkred;
}

.success {
    color: darkgreen;
}

.warning {
    color: darkorange;
}

.gender {
    display: inline-flex;
}

.gender input {
    margin-right: 5%;
}

i {
    cursor: pointer;
}


/* Reset default margin and padding for body */
body {
    margin: 0;
    padding: 0;
}

/* Create a full viewport-sized container */
.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Style the video element */
.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%; /* Make the video cover the entire container */
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
}

.slide-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    margin-bottom: 12px;

}

.slide-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.slide-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slide-navigation .nav-btn:hover{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
}

.slide-navigation .nav-btn.active{
    background-color: #2185D0;
}

.video-slide{
    position: absolute;
    width:100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition-property:clip-path;
    transition: 2s ease;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;

}

/* Style the header and navbar */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /* display:flex;
    justify-content: space-between;
    align-items: center; */
}



@media(min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

body {
    flex-direction: column;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

#home_address {
    width: 75%;
}

#kin_home_address {
    width: 75%;
}

.form-container {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid rgb(39, 41, 42);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Adjust the values for your desired shadow */
    width: 50%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 1% !important;

}

#registration-tips{
    margin-top:60px;
    padding: 0px;
}
#registration-tips li{
    list-style: none;
    margin-left:15px;
}

.center-form{
    margin-top:2px;
}

/* Style the logo */
.logo {

    color: white !important;
    font-size: 23px;
}



label {
    display: inline-flex;
    margin-bottom: 5px;
    font-weight: bolder;
}

input {
    width: 35%;
    padding: 8px;
    margin-bottom: 1% !important;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.passmessagematch{
    background-color: green; color:white; display: none; width: fit-content; font-weight: bold; padding:0.5%;
}

.passmessagemismatch{
    background-color: red; color:white; display: none; width: fit-content; font-weight: bold; padding:0.5%;

}

  select {
    width: 35%;
    padding: 5px;
    font-size: 16px;
  }

  option {
    font-size: 16px;
  }
.kys input {
    width: 30%;
    font-size: 12px;
}

.kys label {
    font-size: 12px;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
}

.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #F0F0F0;
    border-radius:10px;

}



.toast {
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
}

.toast_success {
    color: black;
    padding: 0.5%;
    background-color:#F0F0F0;
    width: fit-content;
    margin: 0.5%;
    font-weight: bold;
    text-transform: uppercase;
}


/* Target the scrollbar track */

 ::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}


/* Target the scrollbar thumb (the draggable part) */

 ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    /* Color of the scrollbar thumb */
}


/* Target the scrollbar track when the thumb is being hovered */

 ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Color when hovered */
}


/* Target the scrollbar track when it's being hovered */

 ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color of the scrollbar track */
}

 :-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Color of the scrollbar track */
}


/* Color of the scrollbar track */

.ui.footer.segment {
    padding: 3em 0;
    flex-shrink: 0;
}

.promo-primary{
    width: 50px;
    height:50px;
}

.nav-bar-primary{
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    width:100% !important;
}

#promo-registartion{
    display: none !important;
}

#primary-nav-bar{
    display: none !important;
}

.logo2{
    display:none !important;
}

#features{
    display: none;
}




/* Media Queries - INNOCENT MISHECK GWSC -2023 */


  /* Your mobile-screen layout styles here */
  @media only screen and (max-width: 393px) and (max-height: 851px){
    /* Your CSS rules for this specific viewport size */
    .nav-bar-primary {
        /* Adjust styles for the fixed top sticky header */
        /* Example: padding, font-size, etc. */
        display:none;
        margin-bottom:100px !important;
    }
    /* Add more CSS rules as needed for other elements within this viewport size */

    .video-container {
       display: none;
    }

    
    body{
        padding: 0;
        margin:0;
    }

    .promo-primary{
        width: 20px;
        height:20px;
    }

    #primary-promo-registration{
        display: none !important;
    }

    #promo-registartion{
        display: block !important;
    }

    #promo-registartion {
        font-size: 10px;

    }

    #primary-nav-bar{
        display:inline-flex !important;
        width:100% !important;

    }
    .logo2{
        display:none !important;
    }
           
}



  /* Your mobile-screen layout styles here */
@media only screen and (max-width: 412px) and (max-height: 732px){
    /* Your CSS rules for this specific viewport size */
    .nav-bar-primary {
        /* Adjust styles for the fixed top sticky header */
        /* Example: padding, font-size, etc. */
        display:none;
        margin-bottom:100px !important;
    }
    /* Add more CSS rules as needed for other elements within this viewport size */

    .video-container {
       display: none;
    }

    
    body{
        padding: 0;
        margin:0;
    }

    .promo-primary{
        width: 20px;
        height:20px;
    }

    #primary-promo-registration{
        display: none !important;
    }

    #promo-registartion{
        display: block !important;
    }

    #promo-registartion {
        font-size: 10px;

    }

    #primary-nav-bar{
        display:inline-flex !important;
        width:100% !important;

    }
    .logo2{
        display:none !important;
    }
           
}


  /* Your tab-screen layout styles here */
@media(max-width: 768px){

    .nav-bar-primary {
        /* Adjust styles for the fixed top sticky header */
        /* Example: padding, font-size, etc. */
        display:none;
        width:100%;
        margin:0px;
        padding:0px;
    }

    .nav-bar-primary .logo{
        display:none;

    }

    .nav-bar-primary input{
        display: none;
    }

    .nav-bar-primary i{
        display: inline-flex;
        margin:0px;
        padding:0px;
    }
    .logo2{
        display:inline-flex;
    }

}


  /* Your mobile-screen layout styles here */
  @media only screen and (max-width: 412px) and (max-height: 915px){
    /* Your CSS rules for this specific viewport size */
    .nav-bar-primary {
        /* Adjust styles for the fixed top sticky header */
        /* Example: padding, font-size, etc. */
        display:none;
        margin-bottom:100px !important;
    }
    /* Add more CSS rules as needed for other elements within this viewport size */

    .video-container {
       display: none;
    }

    
    body{
        padding: 0;
        margin:0;
    }

    .promo-primary{
        width: 20px;
        height:20px;
    }

    #primary-promo-registration{
        display: none !important;
    }

    #promo-registartion{
        display: block !important;
    }

    #promo-registartion {
        font-size: 10px;

    }

    #primary-nav-bar{
        display:inline-flex !important;
        width:100% !important;

    }
    .logo2{
        display:none !important;
    }
           
}


  /* Your mobile-screen layout styles here */
  @media only screen and (max-width: 412px) and (max-height: 732px){
    /* Your CSS rules for this specific viewport size */
    .nav-bar-primary {
        /* Adjust styles for the fixed top sticky header */
        /* Example: padding, font-size, etc. */
        display:none;
        margin-bottom:100px !important;
    }
    /* Add more CSS rules as needed for other elements within this viewport size */

    .video-container {
       display: none;
    }

    
    body{
        padding: 0;
        margin:0;
    }

    .promo-primary{
        width: 20px;
        height:20px;
    }

    #primary-promo-registration{
        display: none !important;
    }

    #promo-registartion{
        display: block !important;
    }

    #promo-registartion {
        font-size: 10px;

    }

    #primary-nav-bar{
        display:inline-flex !important;
        width:100% !important;

    }
    .logo2{
        display:none !important;
    }
           
}


  /* Your mobile-screen layout styles here */
  @media only screen and (max-width: 414px) and (max-height: 896px){
    /* Your CSS rules for this specific viewport size */
    .nav-bar-primary {
        /* Adjust styles for the fixed top sticky header */
        /* Example: padding, font-size, etc. */
        display:none;
        margin-bottom:100px !important;
    }
    /* Add more CSS rules as needed for other elements within this viewport size */

    .video-container {
       display: none;
    }

    
    body{
        padding: 0;
        margin:0;
    }

    .promo-primary{
        width: 20px;
        height:20px;
    }

    #primary-promo-registration{
        display: none !important;
    }

    #promo-registartion{
        display: block !important;
    }

    #promo-registartion {
        font-size: 10px;

    }

    #primary-nav-bar{
        display:inline-flex !important;
        width:100% !important;

    }
    .logo2{
        display:none !important;
    }
           
}


/* Your mobile-screen layout styles here */
  @media only screen and (max-width: 414px) and (max-height: 896px){
    /* Your CSS rules for this specific viewport size */
    .nav-bar-primary {
        /* Adjust styles for the fixed top sticky header */
        /* Example: padding, font-size, etc. */
        display:none;
        margin-bottom:100px !important;
    }
    /* Add more CSS rules as needed for other elements within this viewport size */

    .video-container {
       display: none;
    }

    
    body{
        padding: 0;
        margin:0;
    }

    .promo-primary{
        width: 20px;
        height:20px;
    }

    #primary-promo-registration{
        display: none !important;
    }

    #promo-registartion{
        display: block !important;
    }

    #promo-registartion {
        font-size: 10px;

    }

    #primary-nav-bar{
        display:inline-flex !important;
        width:100% !important;

    }
    .logo2{
        display:none !important;
    }
           
}






